  /* Global Styles */
  @font-face {
    font-family: 'AkiraExpanded-Superbold';
    src: url('/public/fonts/AkiraExpanded-SuperBold.woff') format('woff'),
         url('/public/fonts/AkiraExpanded-SuperBold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'AkiraExpanded-Superbold';
  background-color: #f0f0f0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* App Container */
.app {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

/* Card Styling */
.card {
  background: radial-gradient(circle, rgb(76, 60, 255), black);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
}

/* Container */
.container {
  margin-top: 20px;
}

/* Movie Information */
.movie {
  margin-bottom: 10px;
}

.movie img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.movie p, 
.movie h3, 
.movie span {
  margin: 5px 0;
}

/* Buttons */
button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'AkiraExpanded-Superbold';
  cursor: pointer;
  background-color: #ff4757;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff6b81;
}

button:last-child {
  background-color: #2ed573;
}

button:last-child:hover {
  background-color: #55efc4;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 480px) {
  .app {
      padding: 10px;
  }

  .card {
      padding: 10px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }

  .movie img {
      width: 100%;
  }
}
